header{
    font-family: "nunito", sans-serif;
    font-size: 20px;
    color: #15161f;
    text-align: center;
    position: sticky;
    top: 10px;
    background-color: rgb(233, 230, 227);

}

body {
    background-color: rgb(233, 230, 227);
}

p{
    color: #15161f;
    font-family: "nunito", sans-serif;
    font-size: 20px;
    font-style: italic;
    position: absolute;
    top: 50px;
}

h1{

    font-family: "Chonburi", sans-serif;
    font-size: 200%;
    color: #15161f;
    text-align: left;
    position: relative;
    top: 200px;
    left: 30px;
}

footer{
    text-align: center;
    margin: 50px;
    margin-bottom: 30px;
    font-family: "nunito", sans-serif;
    font-size: 20px;
    font-style: normal;
}


#name{
    font-family: "Chonburi", sans-serif;
    font-size: 1700%;
    color: #161618;
    transform: scaleY(200%);

    position: relative;
    top: 230px;
    left: 30px;


}

#home{
    text-align: left;
}

a:link{
    color: #15161f;
    text-decoration: none;
}

a:visited{
    color: #808085;
    text-decoration: none;
}

.fa-instagram{
    transform: scale(3);
    position: relative;
    right: 30px;
}

.fa-spotify{
    transform: scale(3);
    position: relative;
    left: 30px;
}
